.DS_Store

# dotnet core
ReactApp/bin/
ReactApp/obj/
ReactApp/project.lock.json
ReactApp/NuGetScratch/

ReactApp/api/wwwroot/**
!ReactApp/api/wwwroot/scratch.html
!ReactApp/api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
ReactApp/client-react/components/*.js
ReactApp/client-react.test/build
!ReactApp/client-react.test/build/client-react/styles/

# ops
ReactApp/ops/hosts
ReactApp/ops/config.yml
ReactApp/ops/*.retry

# other
*.js.map

# IDE
ReactApp/.idea/
ReactApp/.vs/
